.heroSection {
   width: 100%;
   position: relative;
}

.heroImageContainer {
   position: relative;
   overflow: hidden;
   aspect-ratio: 374 / 227;
}

.heroImage {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: 50% 35%;
   transform: scaleX(-1);
}

.heroImageContainer::after {
   content: "";
   position: absolute;
   inset: 0;
   background: #00000080;
}

.heroContent {
   background: url('/images/hero/background.svg');
   background-repeat: no-repeat;
   background-color: var(--landing-background);
   background-position: center center;
   height: 350px;
   width: 281;
   height: 320;
   display: flex;
   flex-direction: column;
   gap: 12px;
   padding: 16px 16px 40px 16px;
}

.heroTitle {
   font-family: var(--font-family);
   font-weight: 600;
   font-size: 32px;
   text-align: center;
   color: var(--white);
}

.heroDescription {
   font-family: var(--font-family);
   font-weight: 500;
   font-size: 18px;
   line-height: 24px;
   text-align: center;
   color: var(--white);
}

.heroButton {
   background: var(--orange);
   border-radius: 8px;
   padding: 10px 20.5px;
   color: var(--white);
   text-decoration: none;
   font-size: 20px;
   text-align: center;
}

.heroButton:hover {
   background-color: var(--hover);
}

.heroButton:active {
   background-color: var(--pressed);
}

@media screen and (min-width: 768px) {
   .heroImageContainer {
      position: relative;
      aspect-ratio: 1440 / 592;
   }

   .heroImage {
      object-position: 50% 33%;
   }

   .heroContent {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: none;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      max-width: 866px;
      width: 100%;
      gap: 24px;
      padding-bottom: 24px;
   }
}

@media screen and (min-width: 1280px) {
   .heroTitle {
      font-size: 44px;
   }

   .heroDescription {
      font-size: 22px;
      line-height: 32px;
      max-width: 866px;
   }
}