.price_container {
    margin-top: 48px;
    padding-bottom: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("/images/PriceList/octopus.svg");

    @media screen and (min-width: 768px) {
        margin-top: 134px;
        padding-bottom: 96px;

        background-image: none;
    }
}

.price_list {
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    justify-content: start;

    gap: 16px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;

        margin-top: 56px;

        gap: 30px;
    }


}

.price_list_item {
    display: grid;
    grid-template-columns: 100px auto;

    align-items: stretch;

    gap: 16px;

    @media screen and (min-width: 768px) {
        width: 100%;
        max-width: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
}

.item_image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--grey-dark);

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
        width: clamp(100px, 13vw, 179px);
        height: clamp(100px, 13vw, 179px);
    }
}

.item_image img {
    max-width: 62%;
    max-height: 62%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.item_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    text-align: center;

    @media screen and (min-width: 768px) {
        justify-content: space-between;
        flex: 1;
        gap: 16px;
    }
}

.service {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: normal;
    }
}

.price {
    font-size: 24px;
    font-weight: 700;

    color: var(--orange);
}