.map_frame {
    margin-top: 24px;
    margin-bottom: 24px;

    border: 1px solid var(--white);
}

.map_frame iframe {
    width: 100%;
    height: 191px;
    border: 0;

    filter: invert(1) grayscale(1) contrast(0.7) brightness(1);
    -webkit-filter: invert(1) grayscale(1) contrast(0.7) brightness(1);

    @media screen and (min-width: 768px) {
        max-width: 459px;
        height: 263px;
    }
}

.contacts_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 78px;
        max-width: 996px;
        margin: 0 auto;
    }
}

.contact_list {
    margin-top: 14px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    @media screen and (min-width: 768px) {
        gap: 24px;
    }
}

.contact_item {
    display: flex;
    align-items: center;
    gap: 16px
}

.contact_item_text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;

    @media screen and (min-width: 768px) {
        font-size: 24px;
    }
}